<p style="color: green"><%= notice %></p>

<h1>Courses</h1>

<div id="courses" class =" min-w-full flex flex-wrap justify-center gap-14 pb-G " >
  <% @courses.each do |course| %>
    <%= render course %>
  <% end %>
</div>

